<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Hub | An open-source version control for recipes </title>
   
    <!--box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <!--custom css-->

    <link rel="stylesheet" href="../css/mainpagestyle.css">
    

</head>

<body>
    header design
    <header class="header">
        <a href="about.html" class="logo">Culinary Hub</a>
    
        <i class='bx bx-menu' id="menu-icon"></i>
    
        <nav class="navbar">
            
            <a href="#about">Recipes</a>
            <a href="#portfolio">Restaurants</a>
            <a href="#services">Local Cuisines</a>
            <a href="#user" class="active">User</a>
            
            <div class="user-options">
                <a href="profile-page.html">Profile</a>
                <a href="#">Register</a>
                <a href="user-page-body.html">Login</a>
            </div>
        </nav>
    </header>

    
    


    <!-- projects section design  -->
    <section class="services" id="services">
        <h2 class="heading">Explore! <span></span></h2>

        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-food-menu' ></i>
                <h3>Recipes</h3>
                <p>View recipes from all around the world.

                </p>
                <a href="create_post.html" class="btn" target="_blank">Create Recipe</a>
                <a href="view_post.html" class="btn" target="_blank">View Recipes</a>
            </div>

            <div class="services-box">
                <i class='bx bx-bowl-hot' ></i>
                <h3>Local Cuisines</h3>
                <p>Find the local delicacies available in your area.
                </p>
                <a href=" " class="btn" target="_blank">Find local dishes</a>
            </div>

            <div class="services-box">
                <i class='bx bx-bowl-rice' ></i>
                <h3>Restaurants</h3>
                <p>View recipes from renowned restaurants.
                </p>
                <a href="restrauntview/restrauntview.html" class="btn" target="_blank">Restos</a>
            </div>

        </div>
    </section>



    <!-- footer design  -->
    <footer class="footer">
        <div class="footer-text">
            <p>Made for the Culinary World | Culinary World</p>
        </div>

        <div class="footer-iconTop">
            <a href="#home"><i class='bx bx-up-arrow-alt' ></i> </a>

        </div>
    </footer>

    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- typed js  -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!--custom js-->
    <script src="mainpagescript.js"></script>


</body>
</html>